<nav>
    <div class="logo"><h1>M-manager</h1></div>
    <ul class="nav__links">
        <li class="nav__links-item"><a href="">Home</a></li>
        <li class="nav__links-item"><a href="">Groups</a></li>
        <li class="nav__links-item"><a href="">Profile</a></li>
    </ul>
</nav>