
<main class="todo-dashboard">
    <div class="todo-group">
        <div class="todo-group-header-name">
            <span>1</span>
            <span class="todo-group-name">Required today</span>
        </div>
        
        <li class="todo-group-item">
            <div class="comment">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate facilis dolore mollitia omnis debitis tenetur impedit aspernatur ratione?</p>
            </div>
            <div class="owner">
                Added by
                <a href="">nassorc</a>
            </div>
        </li>
    </div>
</main>
