
<main class="todo-dashboard">
    <div class="todo-group">
        <div class="todo-group__header todo-group-child">
            <div>
                <span>1</span>
                <span class="todo-group-name">Required today</span>
            </div>
            <div>
                <button style="color:black">+</button>
            </div>
        </div>
        <ul class="todo-group__body todo-group-child">
            <li class="todo-group__body-item">
                <div class="comment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate facilis dolore mollitia omnis debitis tenetur impedit aspernatur ratione?</p>
                </div>
                <div class="owner">
                    Added by
                    <a href="">nassorc</a>
                </div>
            </li>
            <li class="todo-group__body-item">
                <div class="comment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate facilis dolore mollitia omnis debitis tenetur impedit aspernatur ratione?</p>
                </div>
                <div class="owner">
                    Added by
                    <a href="">nassorc</a>
                </div>
            </li>
        </ul>
    </div>

</main>
