<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/todoDashboard.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/Header.ejs') %>
    <%=  %>
    <form>
        <input type="text" class="todo-input">
        <button class="todo-add">add</button>
    </form>


    <%- include('./partials/TodoDashboard.ejs') %>
    <script type="text/javascript">
       const button = document.querySelector('.add')
       button.addEventListener('click', async (e)=>{
           e.preventDefault()
           const inputValue = {todo: document.querySelector('.todo-input').value}
          
           await fetch('http://localhost:8080/api/posts/user', {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                    inputValue
               })
           })
           .then(res => {console.log(res)})
       })

       const loadData = () => {
        //   const data = document.cookie.split(';')[1]
        //   const parsed = data.value
        //   console.log(parsed)
        let list = []
        // const cookies = document.cookie.split(';').map(cookie => cookie.split('=')).reduce((accumulator, [key, value]) => ({...accumulator, [key.trim()]: decodeURIComponent(value) }), {});
        // console.log(cookies.userId.split(',').forEach(todo => list.push(todo)))
        // console.log(list)
       }

    //    document.addEventListener('DOMContentLoaded', ()=> {

    //        loadData()
    //    })
    </script>
    <script src="/src/entity/todo.js"></script>
</body>
</html>