<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <% if (user) { %>
        <h2><%= user.name %></h2>
      <% } %> -->
    <form action="" class="login-form">
        <h2>Login</h2><hr>
        <input type="email" placeholder="email" name="email" class="email-login">
        <input type="password" placeholder="password" name="password" class="password-login">
        <button id="btn-login">Login</button>
    </form>

    <form action="" class="register-form">
        <h2>Register</h2><hr>
        
        <input type="text" placeholder="username" name="username" class="username-register">
        <input type="email" placeholder="email" name="email" class="email-register">
        <input type="password" placeholder="password" name="password" class="password-register">
        <button id="btn-register">register</button>
    </form>

    <script>
        const register = document.getElementById('btn-register')
        const login = document.getElementById('btn-login')
        const message = register.addEventListener('click', async (e) => {
            e.preventDefault()
            const email = document.querySelector('.email-register').value
            const password = document.querySelector('.password-register').value
            const username = document.querySelector('.username-register').value
            const userData = {username, email, password}

            await fetch('http://localhost:8080/api/user/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userData
                })
            })
            .then(res => res.json())
            .then(data => {return data})
        })        
        console.log(message)
        login.addEventListener('click', async (e) => {
            e.preventDefault()
            const email = document.querySelector('.email-login').value
            const password = document.querySelector('.password-login').value
            const userData = {email: email, password: password}
            
            await fetch('http://localhost:8080/api/user/login', {
                method: 'POST',
                redirect: 'follow',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userData
                })
            })
            .then(res => {
                if(res.redirected) {
                    window.location.href = res.url
                }
            })
           
            
        })
    </script>
    <!-- <script src="landingPage.js"></script> -->
</body>

</html>